[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = https://github.com/CardinalCandle/rock-paper-scissors
[submodule "calculator"]
	path = calculator
	url = https://github.com/CardinalCandle/calculator
