[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = https://github.com/CardinalCandle/rock-paper-scissors
[submodule "calculator"]
	path = calculator
	url = https://github.com/CardinalCandle/calculator
[submodule "library"]
	path = library
	url = https://github.com/CardinalCandle/library
[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = https://github.com/CardinalCandle/etch-a-sketch
[submodule "tic-tac-toe"]
	path = tic-tac-toe
	url = https://github.com/CardinalCandle/tic-tac-toe
[submodule "restaurant-page"]
	path = restaurant-page
	url = https://github.com/CardinalCandle/restaurant-page
[submodule "todo-list"]
	path = todo-list
	url = https://github.com/CardinalCandle/todo-list
