[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = https://github.com/CardinalCandle/rock-paper-scissors
[submodule "calculator"]
	path = calculator
	url = https://github.com/CardinalCandle/calculator
[submodule "library"]
	path = library
	url = https://github.com/CardinalCandle/library
[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = https://github.com/CardinalCandle/etch-a-sketch
